* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Comic Sans MS', cursive;
    background-color: #ffffff;
    color: #ffffff;
}
header {
    background-color: #2C807D;
    padding: 0;
    height: auto;
    text-align: center;
    font-size: 35px;
    color: #E47129;
    font-family: 'Comic Sans MS', cursive;
    font-weight: bold;
    width: calc(100% - 175px);
    margin-left: 175px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: margin 0.3s ease, width 0.3s ease;
}
body.sidebar-collapsed header.header-centered {
    width: calc(100% - 60px);
    margin-left: 60px;
}
body.sidebar-collapsed nav.nav-centered {
    width: calc(100% - 60px);
    margin-left: 60px;
}
nav {
    background-color: #1f5a58;
    padding: 0;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 175px;
    width: calc(100% - 175px);
    transition: margin 0.3s ease, width 0.3s ease;
    box-sizing: border-box;
}
nav a {
    color: #fff;
    margin: 0 15px;
    font-family: 'Comic Sans MS', cursive;
    text-decoration: none;
}
.sidebar {
    background-color: #1f5a58;
    width: 175px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 0.3s ease;
}
.sidebar-logo {
    width: 125px;
    height: auto;
    margin-bottom: 20px;
    display: block;
    border-radius: 50%;
    object-fit: cover;
}

.sidebar.collapsed {
    width: 60px;
}
.sidebar.collapsed .sidebar-logo,
.sidebar.collapsed ul,
.sidebar.collapsed ul li a {
    display: none;
}
#toggle-sidebar {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: auto;
}
.sidebar ul {
    list-style-type: none;
    flex-grow: 1;
}
.sidebar ul li {
    margin: 15px 0;
}
.sidebar ul li a {
    color: #E47129;
    text-decoration: none;
    font-family: 'Comic Sans MS', cursive;
}
.content {
     margin-left: 270px;
     padding: 20px;
     display: flex;
     flex-direction: column;
     align-items: center;
     color: black;
}
body.sidebar-collapsed .content {
    margin-left: 60px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    color: #333;
}
h1.title {
    text-align: center;
    color: #1f5a58;
    margin-bottom: 20px;
}
#search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
#zipInput {
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 250px;
    outline: none;
    transition: border 0.3s;
    pointer-events: none; /* Disable editing */
}
#zipInput:focus {
    border-color: #1f5a58;
}
#searchBtn {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #1f5a58;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s;
}
#searchBtn:hover {
    background-color: #E47129;
}
.map-container{
    width: 800px;
    padding: 20px;
    display: flex;
    border: 5px solid #2C807D;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 100px;
}
#map {
    height: 60vh;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #ccc;
}
.leaflet-popup-content-wrapper {
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.leaflet-popup-content {
    font-size: 14px;
}
footer {
    background-color: #1f5a58;
    color: #E47129 ;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.no-frame {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.no-frame a {
    text-decoration: none;
    color: #ffffff;
}

.no-frame:hover {
    background-color: #E47129;
}
